:root {
  --dark: #3e2f34;
  --green: #45cbb2;
}

* {
  /* font-family: "Assistant", sans-serif;
  font-family: "Inter", sans-serif; */
  font-family: "Quicksand", sans-serif;
  /* font-family: "Roboto", sans-serif; */
  /* font-family: "Roboto Condensed", sans-serif; */
}
#main {
  background-color: var(--green);
  height: 100vh;
}

.btn {
  background-color: var(--green);
  color: white;
  border: none;
}

.btn:hover {
  background-color: var(--dark);
  color: var(--green);
}

.navbar {
  background-color: white;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#navbar {
  background-color: var(--dark);
  display: flex;
  flex-direction: column;
  color: white;
}

.one-trip {
  color: white;
}
.form {
  background-color: var(--dark);
  border-radius: 5px;
}
.feed {
  color: var(--dark);
}
.feed li {
  background-color: white;
  border-radius: 5px;
}
.card {
  background-color: var(--dark);
  color: white;
}
.bar-chart {
  background-color: white;
  border-radius: 5px;
}
.App-link {
  color: #61dafb;
}

.final {
  background-color: var(--dark);
  color: var(--green);
}

.final:hover {
  background-color: white;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}
