.navbar-toggler {
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 3%;
  height: 60px;
  align-items: center;
}

@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}
